# Python
__pycache__/
*.pyc
*.pyo

# 환경 설정 (로컬 전용)
.env
docker-compose.override.yml

# AI 모델 파일 (용량 큼)
volume/ai_server/model/*.pt

# AI 이미지 저장 (JIT/이벤트)
volume/ai_server/img_save/

# DB 데이터
volume/postgres/

# 백엔드 파일 (JAR 용량 큼)
volume/backend/*.jar
volume/backend/tomcat*
volume/backend/hsperfdata_*
volume/backend/log/

# 압축 파일
*.tar.gz

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
volume/frontend/dist.tar.gz

videos/
tests/
volume/tests/
*.mp4
*.avi
*.jpg
*.png

safewiz-pro-main (backend)/safewiz-pro-main/src/main/resources/firebase/firebase_service_key.json